.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background: #05386b;
  min-width: 300px;
  margin: 0 auto;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

input {
  padding: 1rem;
}

button {
  padding: 1rem;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #5cdb95;
}

.todo_list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.todo_list-item {
  margin: 5px 0;
  background: #5cdb95;
  padding: 0.875rem 1rem;
}

.todo_list-item:hover {
  background: #F2C4DE;
  cursor: pointer;
}
